/*--- Avanquest WebEasy Page Style ---*/


.cc41               { /* Common */
	font            : 8pt 'MS Sans Serif';
	color           : #000000;
	padding         :   1.50pt;
	}
.cc42               { /* Common */
	font            : 8pt 'Arial Rounded MT Bold', Helvetica, sans-serif;
	color           : #000000;
	}
.cc43               { /* Common */
	font            : 11pt 'Arial Rounded MT Bold', Helvetica, sans-serif;
	color           : #000000;
	}
.cc44               { /* Common */
	font            : 8pt 'MS Sans Serif';
	color           : #000000;
	}
.cc45               { /* Common */
	font            : bold 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #c0c0c0;
	}
input#e24           { /* Text text_box  */
	position        : absolute;
	left            : 235.50pt;
	top             : 143.25pt;
	width           : 121.50pt;
	}
input#e23           { /* Password password  */
	position        : absolute;
	left            : 235.50pt;
	top             : 165.75pt;
	width           : 121.50pt;
	}
input#e22           { /* Button onclick="alert('B... */
	position        : absolute;
	left            : 312.75pt;
	top             : 397.50pt;
	width           :  57.00pt;
	height          :  18.75pt;
	}
div#e21             { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	position        : absolute;
	left            : 119.25pt;
	top             : 144.75pt;
	width           :  98.25pt;
	height          :  12.75pt;
	}
div#e20             { /* &nbsp;&nbsp;Password: */
	position        : absolute;
	left            : 167.25pt;
	top             : 167.25pt;
	width           :  50.25pt;
	height          :  12.75pt;
	}
div#e19             { /* Register: */
	position        : absolute;
	left            : 172.50pt;
	top             :  99.00pt;
	width           : 118.50pt;
	height          :  15.00pt;
	}
input#e18           { /* Password password  */
	position        : absolute;
	left            : 235.50pt;
	top             : 187.50pt;
	width           : 121.50pt;
	}
div#e17             { /* Retype Password: */
	position        : absolute;
	left            : 142.50pt;
	top             : 192.00pt;
	width           :  93.75pt;
	height          :  20.25pt;
	}
div#e16             { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	position        : absolute;
	left            : 122.25pt;
	top             : 354.00pt;
	width           :  98.25pt;
	height          :   9.75pt;
	}
input#e15           { /* Text text_box  */
	position        : absolute;
	left            : 235.50pt;
	top             : 324.75pt;
	width           : 121.50pt;
	height          :   8.25pt;
	}
div#e14             { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	position        : absolute;
	left            : 120.75pt;
	top             : 331.50pt;
	width           :  98.25pt;
	height          :   9.75pt;
	}
select#e13          { /* Combo Box combo_box onCh... */
	position        : absolute;
	left            : 235.50pt;
	top             : 348.75pt;
	width           : 127.50pt;
	height          :  11.25pt;
	}
img#e12             { /* cmput391015003.jpg */
	position        : absolute;
	left            :  31.50pt;
	top             : 102.75pt;
	width           :  90.75pt;
	height          :  42.00pt;
	}
div#e11             { /* Home */
	position        : absolute;
	left            :  62.25pt;
	top             : 112.50pt;
	width           :  56.25pt;
	height          :  17.25pt;
	}
img#e10             { /* cmput391015001.jpg */
	position        : absolute;
	left            :  31.50pt;
	top             : 150.00pt;
	width           :  90.75pt;
	height          :  42.00pt;
	}
div#e9              { /* Login */
	position        : absolute;
	left            :  62.25pt;
	top             : 159.75pt;
	width           :  56.25pt;
	height          :  14.25pt;
	}
input#e8            { /* Text text_box  */
	position        : absolute;
	left            : 235.50pt;
	top             : 218.25pt;
	width           : 121.50pt;
	}
div#e7              { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	position        : absolute;
	left            : 119.25pt;
	top             : 219.75pt;
	width           :  98.25pt;
	height          :  20.25pt;
	}
input#e6            { /* Text text_box  */
	position        : absolute;
	left            : 235.50pt;
	top             : 237.00pt;
	width           : 121.50pt;
	}
div#e5              { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	position        : absolute;
	left            : 119.25pt;
	top             : 238.50pt;
	width           :  98.25pt;
	height          :  20.25pt;
	}
input#e4            { /* Text text_box  */
	position        : absolute;
	left            : 235.50pt;
	top             : 264.75pt;
	width           : 121.50pt;
	}
div#e3              { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	position        : absolute;
	left            : 119.25pt;
	top             : 266.25pt;
	width           :  98.25pt;
	height          :  11.25pt;
	}
input#e2            { /* Text text_box  */
	position        : absolute;
	left            : 235.50pt;
	top             : 293.25pt;
	width           : 121.50pt;
	}
div#e1              { /* &nbsp;&nbsp;&nbsp;&nbsp;... */
	position        : absolute;
	left            : 118.50pt;
	top             : 295.50pt;
	width           :  98.25pt;
	height          :  11.25pt;
	}
body#page           { /* Page Body */
	background-color: #ffffff;
	}



/*--- EndOfFile ---*/
