/*--- Avanquest WebEasy Page Style ---*/


.cc37               { /* Common */
	font            : bold 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #c0c0c0;
	}
.cc38               { /* Common */
	font            : 8pt 'MS Sans Serif';
	color           : #000000;
	padding         :   1.50pt;
	}
.cc39               { /* Common */
	font            : 8pt 'MS Sans Serif';
	color           : #000000;
	}
.cc40               { /* Common */
	font            : 10pt 'Arial Rounded MT Bold', Helvetica, sans-serif;
	color           : #000000;
	}
img#e12             { /* cmput391014007.jpg */
	position        : absolute;
	left            :  42.00pt;
	top             : 112.50pt;
	width           :  90.75pt;
	height          :  42.00pt;
	}
div#e11             { /* Home */
	position        : absolute;
	left            :  75.75pt;
	top             : 122.25pt;
	width           :  56.25pt;
	height          :  17.25pt;
	}
img#e10             { /* cmput391014005.jpg */
	position        : absolute;
	left            :  41.25pt;
	top             : 211.50pt;
	width           :  90.75pt;
	height          :  42.00pt;
	}
div#e9              { /* Edit Profile */
	position        : absolute;
	left            :  72.75pt;
	top             : 217.50pt;
	width           :  56.25pt;
	height          :  26.25pt;
	}
img#e8              { /* cmput391014003.jpg */
	position        : absolute;
	left            :  41.25pt;
	top             : 258.75pt;
	width           :  90.75pt;
	height          :  42.00pt;
	}
div#e7              { /* Logout */
	position        : absolute;
	left            :  72.00pt;
	top             : 268.50pt;
	width           :  56.25pt;
	height          :  14.25pt;
	}
img#e6              { /* cmput391014001.jpg */
	position        : absolute;
	left            :  42.75pt;
	top             : 162.00pt;
	width           :  90.75pt;
	height          :  42.00pt;
	}
div#e5              { /* Search */
	position        : absolute;
	left            :  73.50pt;
	top             : 171.75pt;
	width           :  56.25pt;
	height          :  14.25pt;
	}
input#e4            { /* Text text_box  */
	position        : absolute;
	left            : 224.25pt;
	top             : 165.00pt;
	width           : 120.75pt;
	}
input#e3            { /* Button onclick="alert('B... */
	position        : absolute;
	left            : 381.75pt;
	top             : 162.75pt;
	width           :  56.25pt;
	}
div#e2              { /* Enter Patient Name: */
	position        : absolute;
	left            : 216.00pt;
	top             : 141.00pt;
	width           : 110.25pt;
	height          :  12.00pt;
	}
select#e1           { /* List select_list onChang... */
	position        : absolute;
	left            : 216.00pt;
	top             : 196.50pt;
	width           : 339.75pt;
	height          : 259.50pt;
	}
body#page           { /* Page Body */
	background-color: #ffffff;
	}



/*--- EndOfFile ---*/
