/*--- Avanquest WebEasy Page Style ---*/


.cc26               { /* Common */
	font            : bold 10pt 'Verdana', 'Lucida Grande', Arial, sans-serif;
	color           : #c0c0c0;
	}
.cc27               { /* Common */
	font            : 10pt 'Times New Roman', Book, Georgia, serif;
	color           : #000000;
	}
.cc28               { /* Common */
	font            : 8pt 'MS Sans Serif';
	color           : #000000;
	padding         :   1.50pt;
	}
.cc29               { /* Common */
	font            : 8pt 'MS Sans Serif';
	color           : #000000;
	}
img#e26             { /* cmput391011009.jpg */
	position        : absolute;
	left            :  23.25pt;
	top             :  79.50pt;
	width           :  90.75pt;
	height          :  42.00pt;
	}
div#e25             { /* Home */
	position        : absolute;
	left            :  54.00pt;
	top             :  89.25pt;
	width           :  56.25pt;
	height          :  17.25pt;
	}
img#e24             { /* cmput391011007.jpg */
	position        : absolute;
	left            :  21.00pt;
	top             : 172.50pt;
	width           :  90.75pt;
	height          :  42.00pt;
	}
div#e23             { /* Edit Profile */
	position        : absolute;
	left            :  52.50pt;
	top             : 177.00pt;
	width           :  56.25pt;
	height          :  38.25pt;
	}
img#e22             { /* cmput391011005.jpg */
	position        : absolute;
	left            :  20.25pt;
	top             : 265.50pt;
	width           :  90.75pt;
	height          :  42.00pt;
	}
div#e21             { /* Logout */
	position        : absolute;
	left            :  51.00pt;
	top             : 275.25pt;
	width           :  56.25pt;
	height          :  14.25pt;
	}
img#e20             { /* cmput391011003.jpg */
	position        : absolute;
	left            :  21.75pt;
	top             : 218.25pt;
	width           :  90.75pt;
	height          :  42.00pt;
	}
div#e19             { /* Add Records */
	position        : absolute;
	left            :  51.75pt;
	top             : 223.50pt;
	width           :  56.25pt;
	height          :  26.25pt;
	}
img#e18             { /* cmput391011001.jpg */
	position        : absolute;
	left            :  21.75pt;
	top             : 126.00pt;
	width           :  90.75pt;
	height          :  42.00pt;
	}
div#e17             { /* Search */
	position        : absolute;
	left            :  52.50pt;
	top             : 135.75pt;
	width           :  56.25pt;
	height          :  14.25pt;
	}
div#e16             { /* Record ID:\ \\ \Patient ... */
	position        : absolute;
	left            : 169.50pt;
	top             : 102.75pt;
	width           :  96.00pt;
	height          : 242.25pt;
	}
input#e15           { /* Text text_box  */
	position        : absolute;
	left            : 246.75pt;
	top             :  96.75pt;
	width           : 120.75pt;
	}
input#e14           { /* Text text_box  */
	position        : absolute;
	left            : 246.75pt;
	top             : 121.50pt;
	width           : 120.75pt;
	}
input#e13           { /* Text text_box  */
	position        : absolute;
	left            : 246.75pt;
	top             : 146.25pt;
	width           : 120.75pt;
	}
input#e12           { /* Text text_box  */
	position        : absolute;
	left            : 246.75pt;
	top             : 173.25pt;
	width           : 120.75pt;
	}
input#e11           { /* Text text_box  */
	position        : absolute;
	left            : 246.75pt;
	top             : 198.00pt;
	width           : 120.75pt;
	}
input#e10           { /* Text text_box  */
	position        : absolute;
	left            : 246.75pt;
	top             : 268.50pt;
	width           : 120.75pt;
	}
input#e9            { /* Text text_box  */
	position        : absolute;
	left            : 246.75pt;
	top             : 293.25pt;
	width           : 120.75pt;
	}
select#e8           { /* Combo Box Date_Day Day  */
	position        : absolute;
	left            : 246.00pt;
	top             : 222.00pt;
	width           :  41.25pt;
	}
select#e7           { /* Combo Box Date_Month Mon... */
	position        : absolute;
	left            : 291.75pt;
	top             : 222.00pt;
	width           :  71.25pt;
	}
select#e6           { /* Combo Box Date_Year Year... */
	position        : absolute;
	left            : 366.00pt;
	top             : 222.00pt;
	width           :  48.75pt;
	}
select#e5           { /* Combo Box Date_Day Day  */
	position        : absolute;
	left            : 246.00pt;
	top             : 247.50pt;
	width           :  41.25pt;
	}
select#e4           { /* Combo Box Date_Month Mon... */
	position        : absolute;
	left            : 291.00pt;
	top             : 247.50pt;
	width           :  71.25pt;
	}
select#e3           { /* Combo Box Date_Year Year... */
	position        : absolute;
	left            : 366.00pt;
	top             : 247.50pt;
	width           :  48.75pt;
	}
input#e2            { /* File a_file  */
	background-color: #ffffff;
	position        : absolute;
	left            : 252.75pt;
	top             : 327.75pt;
	}
input#e1            { /* Submit  */
	position        : absolute;
	left            : 336.00pt;
	top             : 366.00pt;
	width           :  56.25pt;
	}
body#page           { /* Page Body */
	background-color: #ffffff;
	}



/*--- EndOfFile ---*/
